# Sanal ortam klasörü
env/

# Gizli sistem dosyaları ve klasörleri
.aws/
.cache/
.cortex-debug/
.docker/
.dotnet/
.edevletconf/
.ipython/
.keras/
.matplotlib/
.node_repl_history/
.templateengine/
.vscode/
.wdm/
NTUSER.DAT
NTUSER.DAT*
AppData/
Documents/
Downloads/
Music/
Pictures/
Videos/
OneDrive/
anaconda/
projects/
source/
Real-Time-Object-Detection/
