# Gizli sistem dosyaları ve klasörleri
.aws/
.cache/
.cortex-debug/
.docker/
.dotnet/
.edevletconf/
.ipython/
.keras/
.matplotlib/
.node_repl_history/
.templateengine/
.vscode/
.wdm/
AMDRM_Install.log
AppData/
Contacts/
desktop.ini
env/
githubprojects/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Real-Time-Object-Detection/
Saved Games/
Searches/
Videos/
anaconda/
e_devlet_eimza.log
ekimlik.lan
projects/
source/
